
<mat-dialog-content>
  @if (originalSecret.key) {
    <h2 class="text-xl mb-3">Edit Secret</h2>
  }
  @if (!originalSecret.key) {
    <mat-form-field class="w-full">
      <mat-label>Key</mat-label>
      <input type="text" matInput [(ngModel)]="secret.key">
    </mat-form-field>
  }


  <mat-form-field class="w-full">
    <mat-label>Environment Variable</mat-label>
    <input type="text" matInput [(ngModel)]="secret.environmentVariable">
  </mat-form-field>


  <mat-form-field class="w-full">
    <mat-label>Value</mat-label>
    <input type="password" matInput [(ngModel)]="secret.value">
  </mat-form-field>


  <mat-form-field class="w-full">

    <mat-label>Deployments</mat-label>
    <mat-chip-grid #chipGrid>
      @for (deployment of secret.deployments; track deployment) {
        <mat-chip-row
          (removed)="removeDeployment(deployment)"
        >
          {{deployment}}
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-row>
      }
      <input
        [matChipInputFor]="chipGrid"
        [matChipInputSeparatorKeyCodes]="[ENTER, SPACE] "
        (matChipInputTokenEnd)="addDeployment($event)"
      />
    </mat-chip-grid>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="save()" [disabled]="!changed()">Save</button>

  @if (originalSecret.key && !sureDelete) {
    <button mat-button (click)="delete()">Delete</button>
  }
  @if (originalSecret.key && sureDelete) {
    <button mat-button (click)="delete()">Sure?</button>
  }
  <button mat-button (click)="cancel()">Cancel</button>
</mat-dialog-actions>
