<div class="space-y-4">
  <h1 class="text-3xl">Your Deployments</h1>
  <div class="md:grid md:grid-cols-5">
    <mat-form-field class="w-full md:col-span-2">
      <mat-label>Search...</mat-label>
      <input matInput (keyup)="search($event)" >
    </mat-form-field>
  </div>
  <mat-chip-listbox multiple (change)="updateFilter($event)">
    @for (filterValue of filterValues$ | async; track filterValue) {
      <mat-chip-option [style]="'background-color: ' + getBackgroudColorForState(filterValue)" [value]="filterValue" [selected]="filterValue !== 'REMOVED'">{{filterValue}}</mat-chip-option>
    }
  </mat-chip-listbox>
  <table [dataSource]="tableDataSource$" class="mat-elevation-z8" mat-table matSort (matSortChange)="announceSortChange($event)" >

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Symbol Column -->
    <ng-container matColumnDef="actions">
      <th *matHeaderCellDef mat-header-cell> Actions</th>
      <td *matCellDef="let element" mat-cell>
        <button [matMenuTriggerFor]="menu" mat-icon-button>
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button (click)="startDeployment(element)" mat-menu-item>
            Start
          </button>
          <button (click)="stopDeployment(element)" mat-menu-item>
            Stop
          </button>
        </mat-menu>

      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Name</th>
      <td *matCellDef="let element" mat-cell> {{ element.name }}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="state">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> State</th>
      <td *matCellDef="let element" mat-cell>
        <mat-chip [style]="'background-color: ' + getBackgroudColorForState(element.state)">{{ element.state }}</mat-chip>
      </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="message">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Message</th>
      <td *matCellDef="let element" mat-cell> {{ element.message }}</td>
    </ng-container>


    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
  </table>

</div>
