<div class="space-y-4">
<h1 class="text-2xl">Updates</h1>
<button [disabled]="isCheckingForUpdates" (click)="checkForUpdates()" mat-button>
@if(isCheckingForUpdates) {
    checking for updates...
} @else {
    Check for updates
}
</button>

<table mat-table [dataSource]="updates$">
    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element">
            <button [disabled]="element.isRunning" (click)="updateDeployment(element)" mat-button>Update</button>
        </td>
    </ng-container>

    <ng-container matColumnDef="deployment">
        <th mat-header-cell *matHeaderCellDef> Deployment </th>
        <td mat-cell *matCellDef="let element"> {{element.deploymentName}} </td>

    </ng-container>

    <ng-container matColumnDef="service">
        <th mat-header-cell *matHeaderCellDef> Service </th>
        <td mat-cell *matCellDef="let element"> {{ element.service }} </td>
    </ng-container>

    <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef> Image </th>
        <td mat-cell *matCellDef="let element"> {{ element.image }} </td>
    </ng-container>

  <tr mat-header-row *matHeaderRowDef="['action', 'deployment', 'service', 'image']"></tr>
  <tr mat-row *matRowDef="let row; columns: ['action', 'deployment', 'service', 'image'];"></tr>
</table>
</div>